<div id="pa_empty-div">Patrick Summey</div>
<div id="pa_navbar" "pa_navbarcontent">
<button type="submit" name="Logout!" ng-click="logOutUser()">Logout!</button>

<input type="password" name="password" placeholder="New Password"><br>
<input type="submit" value="Change!" onclick="updatePassword()">
</div>

<!--<span class="glyphicons glyphicons-show-lines">Password Config</span>-->
<!--<audio id="bflat"><source src="./client/sounds/sonarnotehi.mp3" type="audio/mpeg"></audio>-->

<div id="pa_now-btn"><button onclick="playSound()" type="button">NOW</button></div>
<div id="pa_now-list">
    <p>
At Covalence, I learned the fundamentals of 
    </p>
<ul class="collapsible popout" data-collapsible="accordion">
<li><div class="collapsible-header">Javascript:</div><div class="collapsible-body">
    The logical building blocks of most web applications today; <p id="pa_p">
    I learned to apply this language to everything from drawing mathematical shapes, 
    to object-oriented programming and server logic.
    </p></div></li>
<li><div class="collapsible-header"> SQL:</div><div class="collapsible-body">
    The way we "data";<p id="pa_p">
    I learned how to set up and manipulate databases, as well as store procedures
    to do that for me or other users.
    </p></div></li>
<li><div class="collapsible-header">Node.js:</div><div class="collapsible-body">
    Backend Basics;<p id="pa_p">
    I learned how to create a server and locally host it, 
    installing modules to help with any number of needs.
    </p></div></li>
<li><div class="collapsible-header">Research:</div><div class="collapsible-body">
    So much the Google;<p id="pa_p">
    A big theme of the class was learning how to research what we needed ourselves,
    oftentimes using our peers as a resource.
    </p></div></li>
<li><div class="collapsible-header">Teamwork:</div><div class="collapsible-body">
    #codefam4lyfe;<p id="pa_p">
    at the end of the day, the #1 advantage from learning through Covalence is 
    solving problems through teamwork, knowing that the best code can come from more than one brain.
    </p></div></li>
</div>
<div id="pa_now-pic"><img id="pa_now-pic" src="../images/patrojo.jpg"></div>
<div id="pa_then-btn"><button type="button">THEN</button></div>
<div id="pa_then-list">
<ul class="collapsible popout" data-collapsible="accordion">
<li><div class="collapsible-header">Night Auditor:</div><div class="collapsible-body"><p id="pa_p">
    I utilized a checkin/out system running on Java with a SQL database hosted/served by Oracle.
    I also dealt with the interesting people checking in/out at 2AM.
    I also learned how to stay awake forever.
    </p></div></li>
<li><div class="collapsible-header">Front-End Produce Engineer:</div><div class="collapsible-body"><p id="pa_p">
    I rectified errors in the wet produce rack and shelves. Also did some middleware work 
    (prepping lettuce, endives, green onions, etc...) I left the backend work to the farmers.
    </p></div></li>
<li><div class="collapsible-header">Train Engineer:</div><div class="collapsible-body"><p id="pa_p">
    I drove a 3/4 scale train 1 mile around the Birmingham Zoo, maintained the track, 
    and developed an edu-taining tour of the facilities, answering questions and generally
    being the coolest person working at the zoo.
    </p></div></li>
<li><div class="collapsible-header">Full-Stack Meal Developer:</div><div class="collapsible-body"><p id="pa_p">
    I assembled many sandwiches at Schlotzky's at an urgent speed, using a variety of functions,
    sometimes modified to customer's wishes. I assembled in many other languages, including Salad, 
    Pizza, and Pasta. I was eventually relied upon to help junior sandwich devs with the stored procedures.
    </p></div></li>
<li><div class="collapsible-header">Music Teacher</div><div class="collapsible-body"><p id="pa_p">
    I designed cirricula to teach students not only how to get better at their instrument, but 
    also how to appreciate and understand the music they were learning. I often gave students 
    techniques to teach themselves and find their own best practices outside of class.
    </p></div></li>
<li><div class="collapsible-header">Music Engineer:</div><div class="collapsible-body"><p id="pa_p">
    I created these songs through a combination of live recordings and synthesizers. I've used every 
    program from Adobe Audition to Adlib Tracker II for MSDOS in order to create the right sound 
    for my projects. I used best practices of signal routing, mic placement, and spatial design 
    to create the clearest live recordings to create much of the music and/or sounds you hear on this site.
    <iframe width="100%" height="450" scrolling="no" frameborder="no" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/317257779&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </p></div></li>
</div>
<div id="pa_then-pic"><img id="pa_then-pic" src="../images/keys.jpg"></div></div>